experiments/
checkpoints/
data/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# mac
.DS_Store
experiments
../../../../../../../scr/biggest/ashwinp/experiments
../../../../../../../scr/biggest/ashwinp/experiments/colbert-embed
